.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: black;
  }
  .navbar a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
  .div1{
    margin-top: 60px;
  }